# Week 11 Homework - Getting data


1. Load the dataframe saved from this week's lab.
1. Scrape data from this page https://en.wikipedia.org/wiki/List_of_countries_by_past_and_projected_GDP_(nominal)
1. Append to the dataframe: projected GDP (nominal) from IMF estimates from 2022 to 2027. (If data is not available for the country use None)
1. Add a new column and calculate average increase in terms of percentage. 
1. Sort by this column in descending order.

In [24]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np

In [25]:
AK = pd.read_csv('countries.csv',index_col = 'Unnamed: 0')

In [26]:
AK.head(50)

,country,captial,area,population
0,Andorra,Andorra la Vella,468.0,84000
1,United Arab Emirates,Abu Dhabi,82880.0,4975593
2,Afghanistan,Kabul,647500.0,29121286
3,Antigua and Barbuda,St. John's,443.0,86754
4,Anguilla,The Valley,102.0,13254
5,Albania,Tirana,28748.0,2986952
6,Armenia,Yerevan,29800.0,2968000
7,Angola,Luanda,1246700.0,13068161
8,Antarctica,None,14000000.0,0
9,Argentina,Buenos Aires,2766890.0,41343201
10,American Samoa,Pago Pago,199.0,57881
11,Austria,Vienna,83858.0,8205000
12,Australia,Canberra,7686850.0,21515754
13,Aruba,Oranjestad,193.0,71566
14,Åland,Mariehamn,1580.0,26711
15,Azerbaijan,Baku,86600.0,8303512
16,Bosnia and Herzegovina,Sarajevo,51129.0,4590000
17,Barbados,Bridgetown,431.0,285653
18,Bangladesh,Dhaka,144000.0,156118464
19,Belgium,Brussels,30510.0,10403000
20,Burkina Faso,Ouagadougou,274200.0,16241811
21,Bulgaria,Sofia,110910.0,7148785
22,Bahrain,Manama,665.0,738004
23,Burundi,Bujumbura,27830.0,9863117
24,Benin,Porto-Novo,112620.0,9056010
25,Saint Barthélemy,Gustavia,21.0,8450
26,Bermuda,Hamilton,53.0,65365
27,Brunei,Bandar Seri Begawan,5770.0,395027
28,Bolivia,Sucre,1098580.0,9947418
29,Bonaire,Kralendijk,328.0,18012
30,Brazil,Brasília,8511965.0,201103330
31,Bahamas,Nassau,13940.0,301790
32,Bhutan,Thimphu,47000.0,699847
33,Bouvet Island,None,49.0,0
34,Botswana,Gaborone,600370.0,2029307
35,Belarus,Minsk,207600.0,9685000
36,Belize,Belmopan,22966.0,314522
37,Canada,Ottawa,9984670.0,33679000
38,Cocos [Keeling] Islands,West Island,14.0,628
39,Democratic Republic of the Congo,Kinshasa,2345410.0,70916439
40,Central African Republic,Bangui,622984.0,4844927
41,Republic of the Congo,Brazzaville,342000.0,3039126
42,Switzerland,Bern,41290.0,7581000
43,Ivory Coast,Yamoussoukro,322460.0,21058798
44,Cook Islands,Avarua,240.0,21388
45,Chile,Santiago,756950.0,16746491
46,Cameroon,Yaoundé,475440.0,19294149
47,China,Beijing,9596960.0,1330044000
48,Colombia,Bogotá,1138910.0,47790000
49,Costa Rica,San José,51100.0,4516220

In [27]:
AK.shape

(250, 4)

In [29]:
responses = requests.get('https://en.wikipedia.org/wiki/List_of_countries_by_past_and_projected_GDP_(nominal)')
responses.ok

True

In [30]:
responses.text[:1000]

'<!DOCTYPE html>\n<html class="client-nojs" lang="en" dir="ltr">\n<head>\n<meta charset="UTF-8"/>\n<title>List of countries by past and projected GDP (nominal) - Wikipedia</title>\n<script>document.documentElement.className="client-js";RLCONF={"wgBreakFrames":false,"wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgRequestId":"40f34fe9-49a2-449c-abf1-83387fea1e78","wgCSPNonce":false,"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":0,"wgPageName":"List_of_countries_by_past_and_projected_GDP_(nominal)","wgTitle":"List of countries by past and projected GDP (nominal)","wgCurRevisionId":1085636478,"wgRevisionId":1085636478,"wgArticleId":1424142,"wgIsArticle":true,"wgIsRedirect":false,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Articles with short description",'

In [31]:
html_docs = responses.text

In [32]:
soup = BeautifulSoup(html_doc, 'html.parser')

In [33]:
A = soup.find_all('div', {"class":"col-md-4 country"})

In [34]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_past_and_projected_GDP_(nominal)'
#IMF_projections_for_2020_through_2027

In [35]:
imft = pd.read_html(url, header = 0)

In [36]:
len(imft)

14

In [37]:
table2 = imft[5]
table2.head(50)

,Country (or dependent territory),2020,2021,2022,2023,2024,2025,2026,2027
0,Afghanistan,20136,20136,20136,20136,20136,20136,20136,20136
1,Albania,15161,18314,17942,19062,20339,21622,22931,24249
2,Algeria,147600,164564,193601,199382,204551,212973,222863,231837
3,Andorra,2885,3330,3400,3580,3755,3913,4072,4225
4,Angola,58254,74495,124862,133335,140706,150343,159450,167503
5,Antigua and Barbuda,1370,1459,1621,1768,1900,2016,2113,2214
6,Argentina,389064,488605,564277,573633,573964,587988,616405,646202
7,Armenia,12641,13928,14047,15842,17258,18377,19726,21251
8,Aruba,2497,3023,3229,3395,3529,3632,3732,3834
9,Australia,1357317,1633290,1748334,1828394,1917797,2000036,2089911,2185847
10,Austria,432912,477400,479815,518808,550551,578061,605395,630527
11,Azerbaijan,42693,54622,73369,72912,73439,74776,77001,80080
12,Bahamas,9908,11126,12627,13630,14425,15074,15660,16257
13,Bahrain,34723,38869,44169,45421,47067,48958,51068,53407
14,Bangladesh,323057,357099,396543,438436,481002,526838,576122,628412
15,Barbados,4677,4871,5530,5926,6234,6522,6806,7083
16,Belarus,61312,68208,59394,60188,62866,64824,66496,68362
17,Belgium,521445,599989,609887,639716,667661,694257,720983,746317
18,Belize,1586,1797,1991,2135,2226,2316,2409,2507
19,Benin,15674,17455,18387,20029,21842,23869,26032,28306
20,Bhutan,2416,2397,2653,2881,3179,3474,3775,4089
21,Bolivia,36897,39756,41032,43351,46482,49792,53287,57027
22,Bosnia and Herzegovina,19951,22419,23358,24971,26672,28412,30158,32259
23,Botswana,14930,17804,18426,19821,21331,22866,24705,26525
24,Brazil,1448550,1608080,1833274,1980483,2124987,2228793,2328671,2447681
25,Brunei,12003,19915,35555,27708,23049,21322,20624,20464
26,Bulgaria,69995,80327,89533,97798,104502,111547,117871,124403
27,Burkina Faso,17378,19095,19621,21280,23111,25060,27141,29152
28,Burundi,3086,3329,3431,3686,3992,4322,4635,4947
29,Cape Verde,1707,1947,1997,2178,2374,2581,2786,2985
30,Cambodia,25192,26187,28020,30239,32688,35412,38424,41803
31,Cameroon,40863,45049,45713,49518,53355,57633,62145,66738
32,Canada,1645423,1990762,2221218,2362318,2470160,2576068,2686020,2798867
33,Central African Republic,2388,2583,2645,2877,3107,3345,3594,3875
34,Chad,10728,11795,12938,13517,14220,15007,15892,16823
35,Chile,252501,316864,317594,351036,378967,405893,431401,457120
36,China,14862564,17458036,19911593,21865482,23617427,25353048,27171935,29128858
37,Colombia,270415,314268,351281,370470,391832,413851,436908,461198
38,Comoros,1218,1295,1310,1386,1473,1577,1690,1807
39,Democratic Republic of the Congo,48707,57090,64795,71487,78283,85528,93323,102121
40,Republic of the Congo,10329,12848,15951,15641,16433,16602,16777,17550
41,Costa Rica,62144,64276,65314,68180,71845,75502,79374,83486
42,Ivory Coast,61437,69753,73047,80338,87668,95252,102986,110803
43,Croatia,57204,67838,69459,75827,80712,85769,90678,95626
44,Cyprus,24672,27639,27726,30137,32493,34594,36733,38962
45,Czech Republic,245339,282641,296238,318938,341111,362858,382387,401942
46,Denmark,356085,395710,399100,419266,441065,463782,487103,511054
47,Djibouti,3410,3589,3836,4199,4584,4981,5412,5880
48,Dominica,544,567,635,695,741,787,823,860
49,Dominican Republic,78923,94714,109080,116544,125493,134875,144958,155795

In [38]:
table2.rename(columns={'Country (or dependent territory)': 'country'}, inplace=True)
table2.head(50)

,country,2020,2021,2022,2023,2024,2025,2026,2027
0,Afghanistan,20136,20136,20136,20136,20136,20136,20136,20136
1,Albania,15161,18314,17942,19062,20339,21622,22931,24249
2,Algeria,147600,164564,193601,199382,204551,212973,222863,231837
3,Andorra,2885,3330,3400,3580,3755,3913,4072,4225
4,Angola,58254,74495,124862,133335,140706,150343,159450,167503
5,Antigua and Barbuda,1370,1459,1621,1768,1900,2016,2113,2214
6,Argentina,389064,488605,564277,573633,573964,587988,616405,646202
7,Armenia,12641,13928,14047,15842,17258,18377,19726,21251
8,Aruba,2497,3023,3229,3395,3529,3632,3732,3834
9,Australia,1357317,1633290,1748334,1828394,1917797,2000036,2089911,2185847
10,Austria,432912,477400,479815,518808,550551,578061,605395,630527
11,Azerbaijan,42693,54622,73369,72912,73439,74776,77001,80080
12,Bahamas,9908,11126,12627,13630,14425,15074,15660,16257
13,Bahrain,34723,38869,44169,45421,47067,48958,51068,53407
14,Bangladesh,323057,357099,396543,438436,481002,526838,576122,628412
15,Barbados,4677,4871,5530,5926,6234,6522,6806,7083
16,Belarus,61312,68208,59394,60188,62866,64824,66496,68362
17,Belgium,521445,599989,609887,639716,667661,694257,720983,746317
18,Belize,1586,1797,1991,2135,2226,2316,2409,2507
19,Benin,15674,17455,18387,20029,21842,23869,26032,28306
20,Bhutan,2416,2397,2653,2881,3179,3474,3775,4089
21,Bolivia,36897,39756,41032,43351,46482,49792,53287,57027
22,Bosnia and Herzegovina,19951,22419,23358,24971,26672,28412,30158,32259
23,Botswana,14930,17804,18426,19821,21331,22866,24705,26525
24,Brazil,1448550,1608080,1833274,1980483,2124987,2228793,2328671,2447681
25,Brunei,12003,19915,35555,27708,23049,21322,20624,20464
26,Bulgaria,69995,80327,89533,97798,104502,111547,117871,124403
27,Burkina Faso,17378,19095,19621,21280,23111,25060,27141,29152
28,Burundi,3086,3329,3431,3686,3992,4322,4635,4947
29,Cape Verde,1707,1947,1997,2178,2374,2581,2786,2985
30,Cambodia,25192,26187,28020,30239,32688,35412,38424,41803
31,Cameroon,40863,45049,45713,49518,53355,57633,62145,66738
32,Canada,1645423,1990762,2221218,2362318,2470160,2576068,2686020,2798867
33,Central African Republic,2388,2583,2645,2877,3107,3345,3594,3875
34,Chad,10728,11795,12938,13517,14220,15007,15892,16823
35,Chile,252501,316864,317594,351036,378967,405893,431401,457120
36,China,14862564,17458036,19911593,21865482,23617427,25353048,27171935,29128858
37,Colombia,270415,314268,351281,370470,391832,413851,436908,461198
38,Comoros,1218,1295,1310,1386,1473,1577,1690,1807
39,Democratic Republic of the Congo,48707,57090,64795,71487,78283,85528,93323,102121
40,Republic of the Congo,10329,12848,15951,15641,16433,16602,16777,17550
41,Costa Rica,62144,64276,65314,68180,71845,75502,79374,83486
42,Ivory Coast,61437,69753,73047,80338,87668,95252,102986,110803
43,Croatia,57204,67838,69459,75827,80712,85769,90678,95626
44,Cyprus,24672,27639,27726,30137,32493,34594,36733,38962
45,Czech Republic,245339,282641,296238,318938,341111,362858,382387,401942
46,Denmark,356085,395710,399100,419266,441065,463782,487103,511054
47,Djibouti,3410,3589,3836,4199,4584,4981,5412,5880
48,Dominica,544,567,635,695,741,787,823,860
49,Dominican Republic,78923,94714,109080,116544,125493,134875,144958,155795

In [39]:
df2 = pd.merge(table2,AK,on = "country", how = 'left')
df2.head()

,country,2020,2021,2022,2023,2024,2025,2026,2027,captial,area,population
0,Afghanistan,20136,20136,20136,20136,20136,20136,20136,20136,Kabul,647500.0,29121286.0
1,Albania,15161,18314,17942,19062,20339,21622,22931,24249,Tirana,28748.0,2986952.0
2,Algeria,147600,164564,193601,199382,204551,212973,222863,231837,Algiers,2381740.0,34586184.0
3,Andorra,2885,3330,3400,3580,3755,3913,4072,4225,Andorra la Vella,468.0,84000.0
4,Angola,58254,74495,124862,133335,140706,150343,159450,167503,Luanda,1246700.0,13068161.0

In [40]:
df2 = df2.replace(np.nan, 0)

In [41]:
df2.head(10)

,country,2020,2021,2022,2023,2024,2025,2026,2027,captial,area,population
0,Afghanistan,20136,20136,20136,20136,20136,20136,20136,20136,Kabul,647500.0,29121286.0
1,Albania,15161,18314,17942,19062,20339,21622,22931,24249,Tirana,28748.0,2986952.0
2,Algeria,147600,164564,193601,199382,204551,212973,222863,231837,Algiers,2381740.0,34586184.0
3,Andorra,2885,3330,3400,3580,3755,3913,4072,4225,Andorra la Vella,468.0,84000.0
4,Angola,58254,74495,124862,133335,140706,150343,159450,167503,Luanda,1246700.0,13068161.0
5,Antigua and Barbuda,1370,1459,1621,1768,1900,2016,2113,2214,St. John's,443.0,86754.0
6,Argentina,389064,488605,564277,573633,573964,587988,616405,646202,Buenos Aires,2766890.0,41343201.0
7,Armenia,12641,13928,14047,15842,17258,18377,19726,21251,Yerevan,29800.0,2968000.0
8,Aruba,2497,3023,3229,3395,3529,3632,3732,3834,Oranjestad,193.0,71566.0
9,Australia,1357317,1633290,1748334,1828394,1917797,2000036,2089911,2185847,Canberra,7686850.0,21515754.0

In [42]:
df2['average'] = ((df2['2027']-df2['2022'])*100)/df2['2022']

In [43]:
df2

,country,2020,2021,2022,2023,2024,2025,2026,2027,captial,area,population,average
0,Afghanistan,20136,20136,20136,20136,20136,20136,20136,20136,Kabul,647500.0,29121286.0,0.000000
1,Albania,15161,18314,17942,19062,20339,21622,22931,24249,Tirana,28748.0,2986952.0,35.152157
2,Algeria,147600,164564,193601,199382,204551,212973,222863,231837,Algiers,2381740.0,34586184.0,19.749898
3,Andorra,2885,3330,3400,3580,3755,3913,4072,4225,Andorra la Vella,468.0,84000.0,24.264706
4,Angola,58254,74495,124862,133335,140706,150343,159450,167503,Luanda,1246700.0,13068161.0,34.150502
...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Vietnam,342941,366201,408947,462644,515607,571117,629625,690109,Hanoi,329560.0,89571130.0,68.752675
192,Palestine,15532,17775,19698,20891,21853,22745,23634,24603,None,5970.0,3800000.0,24.901005
193,Yemen,18840,22018,28134,29556,31233,33196,35491,38197,Sanaa,527970.0,23495361.0,35.768110
194,Zambia,18111,20753,26665,27709,29865,31987,34014,36350,Lusaka,752614.0,13460305.0,36.321020
195,Zimbabwe,23146,32568,36387,34654,36106,36393,36035,36117,Harare,390580.0,11651858.0,-0.742023

In [45]:
df2.sort_values(by=['average'], ascending = False)

,country,2020,2021,2022,2023,2024,2025,2026,2027,captial,area,population,average
159,South Sudan,6710,5167,5730,10771,11159,11161,11652,12320,Juba,644329.0,8260490.0,115.008726
102,Macau,25586,29905,35246,44856,54828,61784,66422,70342,0,0.0,0.0,99.574420
127,Nigeria,429423,441541,510588,580121,656692,744225,844414,958491,Abuja,923768.0,154000000.0,87.722978
188,Uzbekistan,59893,69202,73060,81809,93656,105252,117433,130800,Tashkent,447400.0,27865738.0,79.030933
126,Niger,13758,14959,15620,17303,19910,23268,25596,27762,Niamey,1267000.0,15878271.0,77.733675
...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Russia,1483379,1775548,1829050,1713154,1718194,1742194,1766044,1795503,Moscow,17100000.0,140702000.0,-1.834122
92,Kuwait,105949,135352,186610,180665,176640,176552,179072,183101,Kuwait City,17820.0,2789132.0,-1.880392
99,Libya,19210,32352,48773,45195,43618,42975,43003,42999,Tripoli,1759540.0,6461454.0,-11.838517
53,Equatorial Guinea,10022,12701,16335,14956,13083,12975,12782,13071,Malabo,28051.0,1014999.0,-19.981635
25,Brunei,12003,19915,35555,27708,23049,21322,20624,20464,Bandar Seri Begawan,5770.0,395027.0,-42.444101